@import '~bootstrap/scss/bootstrap';
@import 'variables';

html {
  margin: 20px;
  min-height: 700px;
  justify-content: center;
}

body {
  align-items: center;
  height: 600px;
  margin: auto;
  text-align: center;
  width: 80%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;

  h1,
  h6 {
    text-align: center;
    color: $accent-color-red;
  }

  p {
    color: $accent-color-red;
  }
}

section {
  align-items: center;
  padding: 20px;
  text-align: center;
}

#current-player,
#message {
  color: $accent-color-red;
  font-size: 20px;
}

#game-status,
#winner-alert {
  color: $accent-color-red;
  font-size: 25px;
  text-align: center;
}

#game-board {
  align-items: center;
  margin: auto;
  padding: 25px;
  width: 70%;
}

.space {
  border: 1px solid $accent-color-red;
  display: flex;
  height: 80px;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}

#signed-in-forms {
  align-items: center;
  text-align: center;
}

#game-stats {
  background-color: #DFDFDF;
  border: 1px solid #000000;
  text-align: center;
  max-height: 200px;
  max-width: 1000px;
  overflow: scroll;
  padding-inline-start: 20px;
  }

#change-password {
  align-items: center;
  text-align: center;
}

footer {
  padding: 15px;
}

.A {
  background-color: $accent-color-red-tint;
  color: $accent-color-red;
}

.G {
  background-color: $black-tint;
  color: black;
}

.btn-outline-danger {
  background-color: #FFFFFF;
  color: $accent-color-red;
}

.go-dark {
  background-color: #A30A14;
  color: #FFFFFF;

  h1,
  h6,
  p {
    color: #FFFFFF;
  }

  .A {
    background-color: $red-tint-dark;
    color: #FFFFFF;
  }

  .G {
    background-color: $black-tint-dark;
  }

  .space {
    border: 1px solid #FFFFFF;
  }

  .btn-outline-danger {
    background-color: #A30A14;
    color: #FFFFFF;
  }

  .btn-outline-danger:hover {
    background-color: $accent-color-red
  }

  .go-light {
    background-color: #FFFFFF;
    color: #A30A14;
  }

  .go-light:hover {
    color: #FFFFFF;
  }

  #game-stats {
    background-color: #83878D;
    border: 1px solid #000000;
    color: #000000;
  }

  #current-player,
  #message,
  #game-status,
  #winner-alert,
  #change-password {
    color: #FFFFFF;
  }

}

.go-light {
  background-color: #FFFFFF;
  color: $red-tint-dark;

  h1,
  h6,
  p {
    color: $accent-color-red;
  }

  .A {
    background-color: $accent-color-red-tint;
    color: $accent-color-red;
  }

  .G {
    background-color: $black-tint;
    color: black;
  }

  .space {
    border: 1px solid $red-tint-dark;
  }

  .btn-outline-danger {
    background-color: #FFFFFF;
    color: $red-tint-dark;
  }

  .btn-outline-danger:hover {
    background-color: $accent-color-red;
    color: #FFFFFF;
  }

  .go-dark {
    background-color: $accent-color-red;
    color: #FFFFFF;
  }

  #current-player,
  #message,
  #game-status,
  #winner-alert {
    color: $accent-color-red;
  }


  #game-stats {
    background-color: #DFDFDF;
    border: 1px solid #000000;
    color: #000000;
    font-weight: 500;
  }
}
